a.disabled {
  color: #ccc;
}

.container {
}

section {
  margin: 15px 0;
  overflow: hidden;
}

.hero-unit {
  padding: 40px 20px;
  text-align: center;
}
.hero-unit section:last-child {
  margin-bottom: 0;
}

.estimate .value {
  font-size: 200%;
}
.estimate .note {
  font-size: 75%;
  color: #777;
}

.changes {
  font-size: 80%;
  line-height: 1.25;
}
.changes h4 {
  margin-bottom: 3px;
}
.changes .period {
  display: block;
  float: left;
  clear: left;
  width: 50%;
  margin-left: -1.5ex;
  text-align: right;
}
.changes .delta {
  display: block;
  float: left;
  width: 5ex;
  text-align: right;
}
.changes .up {
  color: #c00;
}
.changes .down {
  color: #0c0;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}
footer .nav {
  list-style: none;
  margin: 0 0 1em 0;
}
footer .nav li {
  display: inline-block;
  margin: 0 1ex;
}
footer .credits {
  color: #555;
  font-size: 85%;
  margin-bottom: 5px;
}

#chart {
  width: 100%;
}
.chart-caption {
  font-size: 80%;
  text-align: center;
}
