a.disabled {
  color: #ccc;
}

.container {
}

section {
  margin: 15px 0;
  overflow: hidden;
}

.hero-unit {
  padding: 40px 20px;
  text-align: center;
}
.hero-unit section:last-child {
  margin-bottom: 0;
}

.estimate .value {
  font-size: 200%;
}
.estimate .note {
  font-size: 75%;
  color: #777;
}

.changes {
  font-size: 80%;
  line-height: 1.25;
}
.changes h4 {
  margin-bottom: 3px;
}
.changes table {
  margin: auto;
}
.changes th {
  font-weight: 400;
}
.changes td {
  font-weigth: 200;
}
.changes thead th {
  padding-left: 2ex;
}
.changes th,
.changes td {
  text-align: right;
}
.changes .up {
  color: #c00;
}
.changes .down {
  color: #0c0;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}
footer .nav {
  list-style: none;
  margin: 0 0 1em 0;
}
footer .nav li {
  display: inline-block;
  margin: 0 1ex;
}
footer .credits {
  color: #555;
  font-size: 85%;
  margin-bottom: 5px;
}

#chart {
  width: 100%;
  min-height: 80vh;
}
.chart-caption {
  font-size: 80%;
  text-align: center;
}
