{% extends "layout.twig" %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1>About</h1>

            <p>
                The site polls the critical issues against Drupal 8 every 6 hours.
                A simulation is then run each day to estimate the time required to complete the number of issues
                currently remaining.
            </p>
            <p>
                The indicated date is an estimate for when the first Drupal 8
                <a href="https://www.drupal.org/core/dev-cycle#rc">Release Candidate</a> will be available.  The date of
                the stable 8.0 release will depend on the number and rate of critical issues found in RC releases.
            </p>

            <h2>Get Involved</h2>
            <p>
                Go to <a href="https://www.drupal.org/drupal-8.0">drupal.org/drupal-8.0</a> for more information on
                Drupal 8, or
                <a href="https://www.drupal.org/drupal-8.0/get-involved">drupal.org/drupal-8.0/get-involved</a> to learn
                how you can help get Drupal 8 released sooner.
            </p>

        </div>
    </div>
{% endblock %}
