{% extends "layout.twig" %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1>About</h1>

            <p>
                The remaining number of critical bugs and tasks against Drupal 8 are
                automatically polled from Drupal.org periodically; currently every 6
                hours.
            </p>

            <p>
                A Monte Carlo simulation is then run each day to estimate the
                time required to complete the currently remaining number of
                issues. Samples are chosen with a weighted distribution to
                emphasize recent changes.
            </p>

            <p>
                <a href="https://drupal.org/core/release-cycle">More information about the
                    Drupal core release cycle</a>
            </p>
        </div>
    </div>
{% endblock %}
