{% extends "layout.twig" %}

{% block title %}Drupal Release Date - About{% endblock %}

{% block content %}
<div class="row"><div class="span8 offset2">
    <h1>About</h1>
    <p>
        The remaining number of critical bugs and tasks against Drupal 8 are
        automatically polled from Drupal.org periodically; currently every 6
        hours.
    </p>
    <p>
        A Monte Carlo simulation is then run each day to estimate the time
        required to complete the currently remaining number of issues.
        At this time a flat distribution is used to select samples, but there is
        <a href="https://github.com/gapple/drupalreleasedate/issues/2">an open issue</a>
        to weight recent values more heavily.
    </p>
    <p>
        For the date displayed on the front page, an additional 6 weeks is then
        added to the estimate to account for the Release Candidate period.
    </p>
    <p>
      <a href="https://drupal.org/core/release-cycle">More information about the
      Drupal core release cycle</a>
    </p>
</div></div>
{% endblock %}
