{% extends "layout.twig" %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1>About</h1>

            <p>
                The remaining number of critical bugs and tasks against Drupal 8 are automatically polled from
                Drupal.org every 6 hours. <br/>
                A Monte Carlo simulation is then run each day to estimate the time required to complete the currently
                remaining number of issues. Samples are chosen with a weighted distribution to emphasize recent changes.
            </p>

            <h2>Get Involved</h2>
            <p>
                Go to <a href="https://www.drupal.org/drupal-8.0/get-involved">drupal.org/drupal-8.0/get-involved</a> to
                learn how you can help get Drupal 8 released sooner.
            </p>

        </div>
    </div>
{% endblock %}
