{% extends "layout.twig" %}

{% block title %}Drupal Release Date - About{% endblock %}

{% block content %}
<h1>About</h1>
<p>
  Currently samples of the remaining number of critical bugs and tasks
  against Drupal 8 are manually polled from Drupal.org.
</p>
<p>
  A Monte Carlo simulation is then run on the polled data to estimate the time
  required to complete the currently remaining number of issues.  Currently a
  flat distribution is used to select samples, but once more samples are available
  recent results will be weighted more heavily.
</p>
<p>
  An additional 6 weeks is then added to the estimate to account for the Release Candidate period.
</p>
{% endblock %}
