<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <title>Drupal Release Date</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Drupal 8 Release</h1>
        Estimated to occur on
        <div class="estimate">
          <h2 class="value">{{ estimate.value ? estimate.value : 'N/A' }}</h2>
          <div class="note">{{ estimate.note }}</div>
        </div>
        <div>
          <a href="https://drupal.org/core/release-cycle">Drupal core release cycle</a>
        </div>
      </div>

      <footer>
       Built by <a href="https://drupal.org/user/490940">gapple</a> 
       | On twitter <a href="https://twitter.com/gappleca">@gappleca</a>
      </footer>
    </div>
    {% include('googleanalytics.twig') %}
  </body>
</html>

