{% extends "layout.twig" %}

{% block content %}
  <div class="hero-unit">
    <h1>Drupal 8 Release</h1>
    <section class="estimate">
      Estimated to occur on
      <h2 class="value">{{ estimate.value ? estimate.value : 'N/A' }}</h2>
      <div class="note">{{ estimate.note }}</div>
    </section>

    <section class='changes'>
      <h4>Critical Issue Changes</h4>
      <div class='period' data-name='day'>
        <span class='name'>Day:</span>
        <span class="delta">?</span>
      </div>
      <div class='period' data-name='week'>
        <span class='name'>Week:</span>
        <span class="delta">?</span>
      </div>
      <div class='period' data-name='month'>
        <span class='name'>Month:</span>
        <span class="delta">?</span>
      </div>
      <div class='period' data-name='quarter'>
        <span class='name'>3 Month:</span>
        <span class="delta">?</span>
      </div>
      <div class='period' data-name='half'>
        <span class='name'>6 Month:</span>
        <span class="delta">?</span>
      </div>
    </section>
  </div>
{% endblock %}

{% block footerInlineScripts %}
<script>
    $(function() {
        $.getJSON('/data/changes.json', function(response) {
            $('.changes .period').each(function() {
                var $period = $(this);
                var $delta = $period.find('.delta');
                var name = $period.data('name');
                var delta = '?';

                $delta.removeClass('up down');
                if (typeof response.data.critical[name] !== 'undefined') {
                    delta = response.data.critical[name];

                    if (delta > 0) {
                        delta = '+' + delta;
                        $delta.addClass('up');
                    }
                    else if (delta < 0) {
                        $delta.addClass('down');
                    }
                }
                $delta.html(delta);
            });
        });
    });
</script>
{% endblock %}
