<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <title>{% block title %}Drupal Release Date{% endblock %}</title>

    {% include('googleanalytics.twig') %}
    {% if scripts is defined %}
    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}

      <footer>
        <ul class="nav">
          <li><a href="/chart/samples">Samples Chart</a></li>
          <li><a href="/chart/estimates">Estimates Chart</a></li>
        </ul>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <div class="credits">
          Built by <a href="https://drupal.org/user/490940">gapple</a>
          | On twitter <a href="https://twitter.com/gappleca">@gappleca</a>
          | Support on <a href="https://www.gittip.com/gapple/">Gittip</a>
        </div>
      </footer>
    </div>
    <a class="visible-desktop" href="https://github.com/gapple/drupalreleasedate"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
</html>

