<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <title>{% block title %}Drupal Release Date{% endblock %}</title>

    {% include('googleanalytics.twig') %}
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}

      <footer>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>

        <div class="credits">
          Built by <a href="https://drupal.org/user/490940">gapple</a>
          | On twitter <a href="https://twitter.com/gappleca">@gappleca</a>
        </div>
      </footer>
    </div>
  </body>
</html>

