<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>

    <title>{% block title %}Drupal Release Date{% endblock %}</title>

    <meta name="description" content="{% block  metaDescription %}Progress and estimated release date for the next version of Drupal{% endblock %}"/>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% include('googleanalytics.twig') %}
    {% if scripts is defined %}
        {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    {% endif %}
</head>
<body>
<div class="container">
    <div role="main">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {#
        <div role="navigation">
            <ul class="nav">
                <li><a href="/chart/samples">Samples Chart</a></li>
                <li><a href="/chart/estimates">Estimates Chart</a></li>
            </ul>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        #}

        <div class="credits" role="contentinfo">
            <div>
                Built by <a href="https://drupal.org/user/490940" data-type="drupal">gapple</a>
            </div>
        </div>
    </footer>
</div>
<script rel="/assets/js/timing.js"></script>

{% if config.google and config.google.analytics %}
    <script type="text/javascript">
        $(function () {
            $('.credits').on('click', 'a', function (e) {
                var href = $(this).attr('href');
                e.preventDefault();

                ga('send', 'event', 'credits', 'click', $(this).data('type'), {
                    hitCallback: function () {
                        document.location = href;
                    }
                });
            });
        });
    </script>
{% endif %}
{% block footerInlineScripts %}
{% endblock %}
</body>
</html>
